:root {
    /* Colors */
    /* Primary */
    --navy-main-background: hsl(233, 47%, 7%);
    --blue-card-background: hsl(244, 37%, 16%);
    --purple-accent: hsl(277, 64%, 61%);
    /* Neutral */
    --white-heading: hsl(0, 0%, 100%);
    --white-paragraph: hsla(0, 0%, 100%, 0.75);
    --white-stat-headings: hsla(0, 0%, 100%, 0.6);

    /* Fonts */
    --font-size: clamp(12px, 3vw, 1rem);

    /* Widths */
    --mobile-body-width: clamp(23.5rem, 100%, 38rem);
    /* 375px; */
    --desktop-body-width: clamp(90rem, 100%, 99rem);
    /* 1440px; */
}

.inter-font-family {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: var(--white-heading);
    font-size: clamp(1rem, 3vw, 1.4rem);
    text-align: center;
}

.lexend-deca-font-family {
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--white-paragraph);
    text-align: center;
    font-size: var(--font-size);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: var(--mobile-body-width);
    min-height: 100vh;
    background-color: var(--navy-main-background);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-heading);
}

.container-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding-block-end: 1.5rem;
    width: 75%;
    height: 590px;
    border-radius: 8px;
    background-color: var(--blue-card-background);
    overflow: hidden;
}

.image-hero {
    width: 100%;
    height: 33%;
    margin-block-end: 3rem;
}

.image-hero img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.container-description {
    width: 90%;
    height: 50%;
    font-weight: 700;
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.main-description h1 {
    font-size: clamp(1.37rem, 3vw, 2rem);
}

.main-description span {
    color: var(--purple-accent);
}

.main-description p {
    margin-block-start: 1rem;
}

.social-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-icons p {
    font-size: var(--font-size);
    margin-block-end: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

@media (min-width: 1024px) {
    body {
        width: var(--desktop-body-width);
    }

    .container-component {
        flex-direction: row-reverse;
        width: clamp(42rem, 60%, 60rem);
        height: 390px;
    }

    .image-hero {
        width: 70%;
        height: 127%;
        
    }

    .container-description {
        width: 40%;
        height: 100%;
    }

    .main-description h1 {
        margin-block-end: 2rem;
        text-align: start;
        font-size: clamp(1.5rem, 5vw, 2.2rem);
    }

    .container-description {
        width: 100%;
        height: 100%;
        font-weight: 700;
        padding-inline: 3rem;
        margin-block-start: 2rem;
        align-items: start;
        gap: 3rem;
    }

    .container-description p {
        text-align: start;
        font-size: clamp(0.7rem, 1.5vw, 1.1rem);
        width: 90%;
    }

    .social-icons {
        display: flex;
        flex-direction: row;
        gap: 3.5rem;
        text-align: start;
    }

    .social-icons span {
        font-size: 1.3rem;
    }

    .social-icons p {
        font-size: 0.7rem;
        margin-block-start: 0.5rem;
    }

}